@import "tailwindcss";

.str{
    background-image: url(hand.webp);
    background-position: center;
    background-repeat: no-repeat;
}
.photo{
    background-image: url(photography.webp);
    background-position: center;
    background-repeat: no-repeat;
}
.design{
    background-image: url(design.webp);
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-reveal {
  animation: reveal 0.8s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}
